{{#*inline "title"}}
  {{component.name}}
{{/inline}}

{{#*inline "name"}}
  <h1>Component: {{component.name}}</h1>
  <a href="/component/{{component.name}}?edit=true">Edit</a>
{{/inline}}

{{#*inline "content"}}
  <div class="prose">
    {{md component.description}}
  </div>

  {{#if subsets}}
    <h2>Counts As</h2>
    <ul>
      {{#each subsets}}
      <li>
        <a href="/component/{{this.subset_of}}">{{this.subset_of}}</a>
      </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if supersets}}
    <h2>Specialized Variations</h2>
    <ul>
      {{#each supersets}}
      <li>
        <a href="/component/{{this.component_id}}">{{this.component_id}}</a>
      </li>
      {{/each}}
    </ul>
  {{/if}}



  {{#if spells}}
    <h2>Used In Spells</h2>
    <ul>
      {{#each spells}}
      <li>
        <a href="/spell/{{this.spell_id}}">{{this.spell_id}}</a>
      </li>
      {{/each}}
    </ul>
  {{else}}
    <h2>Not Used In Any Spells</h2>
  {{/if}}

  {{#if producers}}
    <h2>Produced by Spells</h2>
    <ul>
      {{#each producers}}
      <li>
        <a href="/spell/{{this.spell_id}}">{{this.spell_id}}</a>
      </li>
      {{/each}}
    </ul>
  {{/if}}

{{/inline}}


{{~> wrapper}}
