{{#*inline "title"}} Page: {{page.name}} {{/inline}} {{#*inline "name"}}
<h1>{{#if page}}{{page.name}}{{else}}New Page!{{/if}}</h1>
{{/inline}} {{#*inline "content"}}
<div id="edit">
    <form action="/page" method="post">
        {{#if page}}
        <input type="hidden" value="{{page.name}}" name="name" /> {{else}}
        <input type="text" placeholder="Name" name="name" />
        <br/>{{/if}}
        <textarea rows=20 cols=100 name="text">{{page.text}}</textarea>
        <br/>
        <input type="submit" />
    </form>
</div>
{{/inline}} {{~> wrapper}}