{{#*inline "title"}} Page: {{page.name}} {{/inline}} {{#*inline "name"}}
<h1>{{page.name}}</h1>
{{#if user}}
<a href="/page/{{page.name}}?action=edit">Edit</a>
{{else}}
<a href="/login">Login to Edit</a>
{{/if}}
{{/inline}} {{#*inline "content"}}
<div class="prose">{{page.text}}</div>
{{/inline}} {{~> wrapper}}