{{#*inline "title"}} {{query}} {{/inline}} {{#*inline "name"}}
<div class="prose">{{query}}</div>
<hr/>
{{/inline}}
{{#*inline "searchtable"}}
<table>
    {{#each results}}
    <tr>
        <td><a href="/{{link}}/{{this.id}}">{{this.id}}</a></td>
        <td>{{this.headline}}</td>
    </tr>
    {{/each}}
</table>
{{/inline}}
{{#*inline "content"}}
<div id="edit">
<form action="/search" method="get">
<textarea name="text">{{query}}</textarea>
<br/>
<input type="submit"/>
</form>
</div>
<h2>Pages</h2>
{{> searchtable results=pages link="page"}}
<h2>Spells</h2>
{{> searchtable results=spells link="spell"}}
<h2>Components</h2>
{{> searchtable results=components link="component"}}
<h2>Categories</h2>
{{> searchtable results=categories link="category"}}
{{/inline}} {{~> wrapper}}