{{#*inline "title"}} Spell: {{spell.name}} {{/inline}} {{#*inline "header"}}
<h1>Spell: {{spell.name}}</h1>
<div>
    <a href="/">Index</a> ->
    <a href="/spells">Spells</a>
</div>
{{/inline}} {{#*inline "content"}}
<a href="/spell/{{spell.name}}?edit=true">Edit</a>
<div id="main">
    <div style="white-space: pre-wrap;">{{spell.description}}</div>
    <ul>
        {{#each categories}}
        <li>
            <a href="/category/{{this.category_id}}">{{this.category_id}}</a>: {{this.level}}
        </li>
        {{/each}}
    </ul>
</div>
{{/inline}} {{~> wrapper}}