<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Spell: {{spell.name}}</title>
</head>

<body>
    <h1>Spell: {{spell.name}}</h1>
    <div>
        <a href="/">Index</a> ->
        <a href="/spells">Spells</a>
    </div>
    <div style="white-space: pre-wrap;">{{spell.description}}</div>
    <ul>
        {{#each categories}}
        <li>
            <a href="/category/{{this.category_id}}">{{this.category_id}}</a>: {{this.level}}
        </li>
        {{/each}}
    </ul>
</body>

</html>